@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Montserrat Alternates", sans-serif;
    background-color: $background-color; 
}

.container {
    margin: 0 auto;
    max-width: 1070px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.bacround-lateral {
    background: url('./img/bacround.webp');
    background-position: center;
}

.subline{
    display: flex;
    justify-content: center;
}

.line {
    display: inherit;
    height: 1px;
    width: 536px;
    background-color: $black-text;
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }