.numbers {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;

  &__title {
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
  }

  &__div {
    display: flex;
    align-items: center;
    gap: 45px;
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: row;
  }

  &__input {
    border-radius: 50px;
    border: none;
    background-color: $color-button;
    color: $grey-text;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    box-shadow: 7px 4px 5px #d2c5c5;
    font-size: 12px;
    padding-left: 25px;
    width: 120px;
    height: 40px;
  }

  &__text {
    text-align: center;
    font-size: 12px;
    margin-bottom: 36px;
  }
}
