<section class="calculator">
  <div class="container calculator__container">
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__div">
      <input
        class="calculator__input"
        type="number"
        placeholder="Введіть число"
      />
      <div class="calculator__buttons">
        <button class="calculator__button">+</button>
        <button class="calculator__button">*</button>
        <button class="calculator__button">-</button>
        <button class="calculator__button">/</button>
      </div>
      <input
        class="calculator__input"
        type="number"
        placeholder="Введіть число"
      />
      <button class="calculator__button">=</button>
      <input
        class="calculator__inputresult"
        type="number"
        placeholder="Результат"
      />
    </div>
  </div>
  <div class="subline">
    <div class="line"></div>
  </div>
</section>
