<section class="game">
  <div class="container game__container">
    <ul class="game__second-list">
        <li class="game__item">Рахунок:</li>
        <li class="game__item">Комп’ютер - 0</li>
        <li class="game__item">Ви - 0</li>
    </ul>
    <h2 class="game__title">Камінь - ножиці - папір</h2>
    <div class="game__div">
      <ul class="game__list">
        <button class="game__button">
          <img class="game__img" src="./img/stone.webp" alt="stone" />
        </button>
        <button class="game__button">
          <img class="game__img" src="./img/scissors.webp" alt="scissors" />
        </button>
        <button class="game__button">
          <img class="game__img" src="./img/paper.webp" alt="paper" />
        </button>
      </ul>
      <p class="game__text">Ви виграли раунд!</p>
      <button class="game__choice">Варіант комп’ютера</button>
    </div>
  </div>
  <div class="subline">
    <div class="line"></div>
  </div>
</section>
