<div data-modalka class="backdropp is-hidden">
  <div class="modalka">
    <form action="" class="modalka__form">
      <button data-close-modalka type="submit" class="modalka__btnclose">
        <svg
          class="modalka__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
        >
          <path
            d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16"
            stroke="black"
          />
        </svg>
      </button>
      <div class="modalka__first-div">
        <img class="modalka__img sword" src="./img/sword.webp" alt="sword" />
        <img
          class="modalka__img game-development"
          src="./img/game-development.webp"
          alt="game-development"
        />
      </div>
      <h2 class="modalka__title">Дякую за підписку!</h2>
      <div class="modalka__two-div">
        <img class="modalka__img puzzle" src="./img/puzzle.webp" alt="puzzle" />
        <img class="modalka__img tic-tac-toe" src="./img/game.webp" alt="game" />
      </div>
    </form>
  </div>
</div>
