<div data-modal class="backdrop">
  <div class="modal">
    <form action="" class="modal__form">
      <button data-close-modal type="submit" class="modal__btnclose">
        <svg
          class="modal__svg"
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
        >
          <path
            d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16"
            stroke="black"
          />
        </svg>
      </button>
      <p class="modal__text">
        Привіт!<br> Ви потрапили на сайт інтерактивних ігор та завдань Надіємось, що
        вам сподобається і ви отримаєте позитивні емоції! Бажаємо Вам гарно
        провести час!
      </p>
      <p class="modal__name">Введіть своє ім’я:</p>
      <img class="modal__img sword" src="./img/sword.webp" alt="sword">
      <img class="modal__img game-development" src="./img/game-development.webp" alt="game-development">
      <form action="">
      <input  class="modal__input" required type="name" placeholder="Ваше ім’я...">
      <button class="modal__btnsave" type="submit" data-close-modal-button>Зберегти</button>
    </form>
      <img class="modal__img puzzle" src="./img/puzzle.webp" alt="puzzle">
      <img class="modal__img tic-tac-toe" src="./img/game.webp" alt="game">
    </form>
  </div>
</div>
