<section class="numbers">
  <div class="container numbers__container">
    <h2 class="numbers__title">Введіть 3 числа</h2>
    <div class="numbers__div">
      <input
        id="num1"
        class="numbers__input"
        type="text"
        placeholder="Введіть число"
      />
      <input
        id="num2"
        class="numbers__input"
        type="text"
        placeholder="Введіть число"
      />
      <input
        id="num3"
        class="numbers__input"
        type="text"
        placeholder="Введіть число"
      />
    </div>
    <p class="numbers__text">Найбільше число, яке ви ввели - (число)</p>
  </div>
  <div class="subline">
    <div class="line"></div>
  </div>
</section>
