<section class="team">
  <div class="container team__container">
    <h2 class="team__title">Наша команда</h2>
    <div class="team__div">
      <div class="team__buttons">
        <button class="team__button-left" id="button-arrow-left">
          <img
            class="team__arrow-left"
            src="./img/arrow-left.webp"
            alt="arrow-left"
          />
        </button>
        <div class="team__image">
          <img class="team__img" src="./img/photo1.webp" alt="photo" />
        </div>
        <button class="team__button-right" id="button-arrow-right">
          <img
            class="team__arrow-right"
            src="./img/arrow-right.webp"
            alt="arrow-right"
          />
        </button>
      </div>
      <h3 class="team__subtitle">Кіріл Присакар</h3>
      <p class="team__text">Скром-майстер, виконував такі секції як: <br> Hero, перевір в який рік народився, камінь-ножиці-папір, обидва калькулятори, <br> наша команда та частково обери вченого</p>
      <div class="team__box">
        <div id="first-element" class="team__element"></div>
        <div id="second-element" class="team__element"></div>
      </div>
    </div>
  </div>
  <div class="subline">
    <div class="line"></div>
  </div>
</section>
