<section class="scientists">
    <div class="container scientists__container">
        <h2 class="scientists__title">Обери вченого/их</h2>
        <div class="scientists__div">
            <div class="scientists__box">
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
            </div>
            <div class="scientists__box">
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
            </div>
            <div class="scientists__box">
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
            </div>
        </div>
        <div class="scientists__lists">
            <ul class="scientists__list1">
                <button class="scientists__button scientists__century">Які вчені народилися в 19 ст.</button>
                <button class="scientists__button scientists__sort-alpha">Відсортувати вчених за алфавітом</button>
                <button class="scientists__button scientists__sort-age">Відсортувати вчених за кількістю прожитих років</button>
                <button class="scientists__button scientists__latest">Знайти вченого, який народився найпізніше</button>
            </ul>
            <ul class="scientists__list2">
                <button class="scientists__button scientists__einstein">Знайти рік народження Albert Einstein</button>
                <button class="scientists__button scientists__surname-c">Знайти вчених, прізвища яких починаються на літеру “C”</button>
                <button class="scientists__button scientists__delete-a">Видалити всіх вчених, ім’я яких починається на “А”</button>
                <button class="scientists__button scientists__longest-shortest">Знайти вченого, який прожив найдовше і вченого, <br> який прожив найменше</button>
            </ul>
        </div>
        <button class="scientists__buttons scientists__same-letter">1. Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
</section>
