<section class="scientists">
    <div class="container scientists__container">
        <h2 class="scientists__title">Обери вченого/их</h2>
        <div class="scientists__div">
            <div class="scientists__box">
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
            </div>
            <div class="scientists__box">
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
            </div>
            <div class="scientists__box">
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
                <div class="scientists__element"></div>
            </div>
        </div>
        <div class="scientists__lists">
            <ul class="scientists__list1">
                <button class="scientists__button">Які вчені народилися в 19 ст.</button>
                <button class="scientists__button">Відсортувати вчених за алфавітом</button>
                <button class="scientists__button">Відсортувати вчених за кількістю прожитих років</button>
                <button class="scientists__button">Знайти вченого, який народився найпізніше</button>
            </ul>
            <ul class="scientists__list2">
                <button class="scientists__button">Знайти рік народження Albert Einshtein</button>
                <button class="scientists__button">Знайти вчених, прізвища яких починаються на на літеру “С”</button>
                <button class="scientists__button">Видалити всіх вчених, ім’я яких починається на “А”</button>
                <button class="scientists__button">Знайти вченого, який прожив найдовше і вченого, <br> який прожив найменше</button>
            </ul>
        </div>
        <button class="scientists__buttons">1. Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
    </div>
</section>